<nav class="navbar navbar-light bg-info">
    <div class="container">
        <h1>Details of Employees</h1>
        <div class="d-flex">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                AddEmployee
            </button>
        </div>
    </div>
</nav>
<table class="table mt-3">
    <thead>
        <tr>
            <th class="col">Employee_Id</th>
            <th class="col">Emp_Firstname</th>
            <th class="col">Emp_Lastname</th>
            <th class="col">Mobile_No:</th>
            <th class="col">Email</th>
            <th class="col">Salary</th>
            <th class="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of detailsList">
            <td>{{detail.id}}</td>
            <td>{{detail.firstname}}</td>
            <td>{{detail.lastname}}</td>
            <td>{{detail.Mobile}}</td>
            <td>{{detail.Email}}</td>
            <td>{{detail.Salary}}</td>
            <td>
                <!-- <button type="button" (click)="onEdit(Row)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="deleteEmp()">Delete</button> -->
            </td>

        </tr>
    </tbody>
</table>

<div class=" modal fade" id="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Employee_Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal
                   " aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="formValue">

                        <div class="mb-3">
                            <label class="form-label">Firstname</label>
                            <input type="text" formControlName="firstname" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Lastname</label>
                            <input type="text" formControlName="lastname" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mobile_No</label>
                            <input type="phone" formControlName="Mobile" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" formControlName="Email" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Salary</label>
                            <input type="text" formControlName="Salary" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary">Close</button>
                <button type="button" class="btn btn-primary" (click)="postEmpDetails()">Add</button>
            </div>
        </div>
    </div>
</div>